body {
    background-color: rgb(247,247,247);
}

.btn_refresh {
    background-color: rgb(133, 133, 133);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card_preview {
    max-width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
    cursor: zoom-in;
}

.card_edit {
    background-color: rgb(255,255,255);
    border-radius: 4px;
    margin: auto;
    width: 75%;
    /* text-align: center; */
}

.img-modal {
    max-height: 80vh;
    width: auto;
}